# .gitignore
.env
__pycache__/
panel/node_modules/
node_modules/
.idea/
.vscode/
object_passport_uploads/
attachments/
/java-bot/target/
/java-bot/**/target/
/java-bot/.m2/
/spring-panel/.m2/
/logs/

/spring-panel/target/
*.patch
*.bak
*.tmp
*.temp
