spring:
  application:
    name: panel

  jpa:
    hibernate:
      ddl-auto: none      # правильно, пускай Flyway рулит схемой
    properties:
      hibernate:
        format_sql: true
        temp:
          use_jdbc_metadata_defaults: false

  flyway:
    locations:
      - classpath:db/migration/sqlite
    baseline-on-migrate: true
    baseline-version: 0
    placeholders:
      autoIncrement: AUTOINCREMENT

  sql:
    init:
      mode: ${SQL_INIT_MODE:never}

  main:
    banner-mode: off

  session:
    store-type: jdbc
    jdbc:
      table-name: SPRING_SESSION   # только имя таблицы, без initialize-schema / schema

app:
  datasource:
    sqlite:
      path: ${APP_DB_TICKETS:../tickets.db}
    users-sqlite:
      path: ${APP_DB_USERS:../users.db}
  storage:
    attachments: ${APP_STORAGE_ATTACHMENTS:../attachments}
    knowledge-base: ${APP_STORAGE_KNOWLEDGE_BASE:${APP_STORAGE_ATTACHMENTS:../attachments}/knowledge_base}
    avatars: ${APP_STORAGE_AVATARS:${APP_STORAGE_ATTACHMENTS:../attachments}/avatars}

server:
  error:
    whitelabel:
      enabled: false
