spring:
  datasource:
    driver-class-name: org.sqlite.JDBC
  jpa:
    database-platform: org.hibernate.community.dialect.SQLiteDialect
    hibernate:
      ddl-auto: none
    properties:
      hibernate.temp.use_jdbc_metadata_defaults: false
  flyway:
    locations:
      - classpath:db/migration/sqlite
  sql:
    init:
      mode: never
