spring:
  application:
    name: panel

  jpa:
    hibernate:
      ddl-auto: none      # было update, ставим none
    properties:
      hibernate:
        format_sql: true
        temp:
          use_jdbc_metadata_defaults: false   # критично для SQLite + Hibernate 6

  flyway:
    locations:
      - classpath:db/migration/sqlite
    placeholders:
      autoIncrement: AUTOINCREMENT

  sql:
    init:
      mode: ${SQL_INIT_MODE:never}

  main:
    banner-mode: off

  session:
    store-type: jdbc
    jdbc:
      initialize-schema: always
      schema: classpath:org/springframework/session/jdbc/schema-sqlite.sql
      table-name: SPRING_SESSION

app:
  datasource:
    sqlite:
      path: ${APP_DB_TICKETS:tickets.db}
  storage:
    attachments: ${APP_STORAGE_ATTACHMENTS:attachments}
    knowledge-base: ${APP_STORAGE_KNOWLEDGE_BASE:${APP_STORAGE_ATTACHMENTS:attachments}/knowledge_base}
    avatars: ${APP_STORAGE_AVATARS:${APP_STORAGE_ATTACHMENTS:attachments}/avatars}
