/* Error: expected ")".
 *     ,
 * 867 |     border-color: color-mix(in srgb, var(--chart-5) 28%, transparent);
 *     |                 ^
 *     '
 *   src\main\resources\scss\app\_dialogs.scss 867:17  @use
 *   src\main\resources\scss\app.scss 4:1              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ")".\a     \2577 \a 867 \2502      border-color: color-mix(in srgb, var(--chart-5) 28%, transparent);\d\a     \2502                  ^\a     \2575 \a   src\\main\\resources\\scss\\app\\_dialogs.scss 867:17  @use\a   src\\main\\resources\\scss\\app.scss 4:1              root stylesheet';
}
