/* Error: expected ";".
 *      ,
 * 1791 |     box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
 *      |               ^
 *      '
 *   src\main\resources\scss\app\_dialogs.scss 1791:15  @use
 *   src\main\resources\scss\app.scss 4:1               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a      \2577 \a 1791 \2502      box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);\d\a      \2502                ^\a      \2575 \a   src\\main\\resources\\scss\\app\\_dialogs.scss 1791:15  @use\a   src\\main\\resources\\scss\\app.scss 4:1               root stylesheet';
}
