<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="uiHead">
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          th:href="@{/favicon-32x32.png?v=3}">

    <link rel="icon"
          type="image/png"
          sizes="16x16"
          th:href="@{/favicon-16x16.png?v=3}">

    <link rel="shortcut icon"
          type="image/x-icon"
          th:href="@{/favicon.ico?v=3}">

    <link rel="apple-touch-icon"
          sizes="180x180"
          th:href="@{/favicon-180x180.png?v=3}">

    <meta name="_csrf" th:content="${_csrf != null ? _csrf.token : ''}">
    <meta name="_csrf_header" th:content="${_csrf != null ? _csrf.headerName : 'X-CSRF-TOKEN'}">
    <script th:inline="javascript">
        window.__IGUANA_UI_PREFS_BOOTSTRAP__ = /*[[${uiPreferencesBootstrap}]]*/ {};
        window.__IGUANA_UI_PREFS_META__ = {
            syncEnabled: /*[[${uiPreferencesSyncEnabled}]]*/ false,
            endpoint: /*[[@{/profile/ui-preferences}]]*/ '/profile/ui-preferences'
        };
    </script>
    <script th:src="@{/js/ui-preferences.js}"></script>
    <script th:src="@{/js/theme.js}"></script>
    <script th:src="@{/js/ui-config.js}"></script>
    <script th:src="@{/js/modal-resize.js}" defer></script>
</th:block>
